<template>
	<section id="advantages">
		<div class="container">
			<h2>Почему выбирают нас</h2>
			<div class="advantages">
				<div class="advantages__item" v-for="advantage in advantages">
					<div class="advantages__icon">
						<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
						</svg>
					</div>
					<div class="advantages__name">{{ advantage }}</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		name: 'advantages',
		components: {},
		data () {
			return {
				advantages: [
					'Официальный партнер компании ROMANA',
					'Индивидуальный подход к оплате',
					'3 года гарантии'
				]
			}
		},
		computed: {},
		methods: {}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.advantages {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 50px 60px;

		@include media("<tablet") {
			padding: 0 10px 60px;
		}

		&__item {
			display: flex;
			align-items: center;
			padding: 0 $padding;

			& + & {
				margin-top: 28px;
			}
		}

		&__icon {
			height: 40px;
			width: 40px;
			min-width: 40px;
			background-color: $color--blue;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 10px;
			
			svg {
				fill: #ffffff;
			}
		}

		&__name {
			margin-left: $padding;
			font-size: 22px;
		}
	}
</style>