<template>
	<modal v-if="alert.show" @close="hideAlert">
		<div class="alert">{{alert.content}}</div>
	</modal>
</template>
<script>
	import { mapState, mapActions } from 'vuex'
	import Modal from '~components/Modal'

	export default {
		name: 'alert',
		components: {
			Modal
		},
		computed: {
			...mapState({
				alert: state => state.alert,
			})
		},
		methods: {
			...mapActions([
				'hideAlert'
			])
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.alert {
		font-size: 24px;
		padding: 30px;
	}
</style>