<template>
	<section id="banner">
		<div class="container">
			<div class="banner">
				<div class="banner__content pane">
					<h1>
						<span class="banner__text">Установка детских игровых и&nbsp;спортивных площадок</span>
						<span class="banner__text">компании
							<img class="banner__romana" src="~static/romana-logo.svg">
							по&nbsp;Республике Башкортостан
						</span>
					</h1>
				</div>
				<div class="form" id="getAdvice">
					<label class="form__input">
						<ui-input size="large" type="tel" placeholder="Укажите ваш телефон" v-model="phone"></ui-input>
					</label>
					<ui-button size="large" @click="requestAdvice">Получить консультацию</ui-button>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	import { mapActions } from 'vuex'

	import Button from '~components/Button'
	import Input from '~components/Input'

	export default {
		name: 'banner',
		components: {
			'ui-button': Button,
			'ui-input': Input
		},
		data () {
			return {
				phone: ''
			}
		},
		computed: {},
		methods: {
			...mapActions([
				'showAlert'
			]),
			requestAdvice () {
				const phone_regular = /^[0-9]\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2}$/;
				if (phone_regular.test(this.phone)) {
					this.$http.post('/send_mail.php', { phone: this.phone }).then(response => {
						this.showAlert("Спасибо за обращение! Ваша заявка отправлена!");
					}, response => {
						this.showAlert("Ошибка отправки запроса консультации");
					});
				} else {
					this.showAlert("Некорректный телефон");
				}
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	#banner {
		background: url(~static/img/bg1.jpg) 50% 50%;
		background-size: cover;
	}

	.banner {
		position: relative;
		overflow: hidden;
		padding: 10vh 8px;

		@include media("<tablet") {
			padding: 5vh 8px;
		}

		&__content {
			line-height: 1.3;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 auto 10vh;
		}

		&__text {
			font-size: 78px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;

			@include media("<=desktop") {
				font-size: 59px;
			}

			@include media("<tablet") {
				font-size: 28px;
			}

			& + & {
				font-size: 60px;

				@include media("<=desktop") {
					font-size: 40px;
				}

				@include media("<tablet") {
					font-size: 24px;
				}
			}
		}

		&__romana {
			height: 50px;
			margin: 0 8px;

			@include media("<=desktop") {
				height: 30px;
			}

			@include media("<tablet") {
				height: 20px;
			}
		}
	}
</style>