<template>
	<button @click="click" class="button" :class="classes">
		<slot></slot>
	</button>
</template>
<script>
	export default {
		name: 'button',
		props: {
			size: {
				type: String,
				default: ''
			}
		},
		components: {},
		data () {
			return {}
		},
		computed: {
			classes () {
				if (this.size) {
					return `button--${this.size}`;
				}
			}
		},
		methods: {
			click () {
				this.$emit('click');
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.button {
		padding: $padding 16px;
		outline: 0 none;
		border: none;
		background-color: $color--blue;
		color: #ffffff;
		cursor: pointer;
		font: inherit;
		border-radius: 3px;
		transition: background-color 150ms ease;

		&:hover {
			background-color: lighten($color--blue, 10%);
		}

		&:active {
			background-color: darken($color--blue, 10%);
		}

		&--large {
			font-size: 30px;
			padding: 12px 28px;

			@include media("<tablet") {
				font-size: 22px;
			}
		}

		&[disabled] {
			cursor: default;
			background-color: lighten($color--blue, 20%);
		}
	}
</style>