<template>
	<tr class="cart-item">
		<td>
			<img :src="image" class="cart-item__image" @click="open">
		</td>
		<td>
			<div class="cart-item__name" @click="open">{{ name }}</div>
		</td>
		<td>
			<div class="cart-item__quantity">
				<counter :value="product.count" @change="updateCount"></counter>
			</div>
		</td>
		<td>
			<div class="cart-item__price" v-if="price">{{ price }}</div>
			<div class="cart-item__price" v-else>По запросу</div>
		</td>
		<td>
			<div class="cart-item__remove" @click="remove">
				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
				</svg>
			</div>
		</td>
	</tr>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'
	import Counter from "~components/Counter";

	export default {
		components: {
			Counter
		},
		name: 'cart-item',
		data () {
			return {}
		},
		props: ['product'],
		computed: {
			...mapGetters({}),
			...mapState({}),
			image () {
				return this.product.image
			},
			name () {
				return this.product.name
			},
			price () {
				if (this.product.price > 0) {
					return `${this.product.price} руб.`;
				}
			}
		},
		methods: {
			...mapActions([
				'cartRemoveProduct',
				'hideCartDetail',
				'changeDetailProduct',
				'showDetailProduct'
			]),
			open () {
				this.$emit('open', this.product);
			},
			remove () {
				this.$emit('remove', this.product);
			},
			updateCount (count) {
				this.$emit('changeCount', { ...this.product, count: count });
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.cart-item {
		border-bottom: 1px solid rgba(78, 105, 196, 0.5);

		@include media("<tablet") {
			font-size: 14px;
		}

		td {
			vertical-align: middle;
		}

		&__image {
			padding: $padding;
			max-height: 120px;
			cursor: pointer;

			@include media("<tablet") {
				display: none;
			}
		}

		&__name {
			padding: $padding;
			color: $color--blue;
			text-decoration: underline;
			cursor: pointer;

			&:hover, &:focus {
				color: $color--orange;
			}
		}

		&__quantity {
			padding: $padding 0;
		}

		&__price {
			padding: $padding;
		}

		&__remove {
			padding: $padding;
			cursor: pointer;

			svg {
				fill: $color--blue;
				transition: fill 150ms ease;
			}

			&:hover {
				svg {
					fill: $color--orange;
				}
			}
		}
	}
</style>