<template>
	<div class="cart-wrap">
		<div class="container">
			<transition name="cart">
				<ui-button @click="showCartDetail" class="cart" v-if="quantityProduct">
					<div class="cart__icon">
						<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
							<path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"></path>
						</svg>
					</div>
					<div class="cart__quantity">{{ quantityProduct }}</div>
				</ui-button>
			</transition>
		</div>
	</div>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'

	import Button from '~components/Button'

	export default {
		name: 'cart',
		components: {
			'ui-button': Button
		},
		data () {
			return {}
		},
		computed: {
			...mapGetters({}),
			...mapState({
				cart: state => state.cart
			}),
			quantityProduct () {
				return Object.keys(this.cart.list).length;
			}
		},
		methods: {
			...mapActions([
				'showCartDetail'
			])
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.cart-wrap {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		max-width: $app--width;
		width: 100%;
		margin: 0 auto;
		z-index: 10;
	}

	.cart {
		position: absolute;
		top: 60px;
		right: $padding;
		border-radius: 3px;
		padding: 0 $padding;
		display: flex;
		align-items: center;
		background-color: $color--blue;
		cursor: pointer;
		pointer-events: all;
		box-shadow: 0 3px 9px rgba(0, 0, 0, .28);

		&__icon {
			padding: $padding;

			svg {
				fill: #ffffff;
			}
		}

		&__quantity {
			font-size: 18px;
			padding: $padding;
		}
	}

	.cart-enter-active, .cart-leave-active {
		transition: opacity 300ms ease
	}

	.cart-enter, .cart-leave-to {
		opacity: 0
	}
</style>