<template>
	<modal v-if="cart.show" @close="hideCartDetail">
		<table class="cart-list">
			<thead>
				<tr class="cart-header">
					<th colspan="2">Товар</th>
					<th>Кол-во</th>
					<th>Цена</th>
					<th></th>
				</tr>
			</thead>
			<cart-item v-for="product in cartList"
			           :product="product"
			           :key="product.id"
			           @open="showDetail"
			           @remove="remove"
			           @changeCount="updateCount"></cart-item>
		</table>
		<div class="cart-action">
			<ui-button class="cart-action__button" @click="showCartRequest">Оставить заявку</ui-button>
		</div>
	</modal>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'
	import Modal from '~components/Modal'
	import CartItem from '~components/CartItem'
	import Button from '~components/Button'

	export default {
		name: 'cart-detail',
		data () {
			return {}
		},
		components: {
			Modal,
			CartItem,
			'ui-button': Button
		},
		computed: {
			...mapGetters({}),
			...mapState({
				cart: state => state.cart
			}),
			cartList () {
				return this.cart.list
			}
		},
		methods: {
			...mapActions([
				'cartRemoveProduct',
				'cartUpdateProduct',
				'hideCartDetail',
				'changeDetailProduct',
				'showDetailProduct',
				'showCartRequest'
			]),
			showDetail (product) {
				this.changeDetailProduct(product);
				this.showDetailProduct();
			},
			remove (product) {
				if (Object.keys(this.cartList).length === 1) {
					this.hideCartDetail();
				}
				this.cartRemoveProduct(product);
			},
			updateCount (product) {
				this.cartUpdateProduct(product);
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.cart-header {
		background-color: $color--blue;
		color: #ffffff;

		th {
			padding: $padding;
			font-size: 18px;
			text-align: left;
		}
	}

	.cart-action {
		display: flex;
		padding: $padding 0;

		&__button {
			margin-left: auto;
		}
	}
</style>