<template>
	<modal v-if="cartRequest.show" @close="hideCartRequest">
		<div class="cart-request">
			<div class="cart-request__title">Оставить заявку на детскую площадку</div>
			<div class="cart-request__form">
				<ui-input class="cart-request__input" v-model="name" type="text" placeholder="Укажите имя"></ui-input>
				<ui-input class="cart-request__input" v-model="email" type="email" placeholder="Укажите E-mail *"></ui-input>
				<ui-input class="cart-request__input"
				          v-model="comment"
				          type="textarea"
				          placeholder="Комментарии к заявке"></ui-input>
				<ui-button @click="leaveRequest" class="cart-request__action">Оставить заявку</ui-button>
			</div>
		</div>
	</modal>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'
	import Modal from '~components/Modal'
	import Input from '~components/Input'
	import Button from '~components/Button'

	export default {
		name: 'cart-request',
		data () {
			return {
				name: '',
				email: '',
				comment: ''
			}
		},
		components: {
			Modal,
			'ui-input': Input,
			'ui-button': Button
		},
		computed: {
			...mapGetters({}),
			...mapState({
				cartRequest: state => state.cartRequest,
				cart: state => state.cart
			}),
			getCartList () {
				let list = [];
				for (let id in this.cart.list) {
					let product = this.cart.list[id];
					list.push({
						"id": product.id,
						"name": product.name,
						"amount": product.count,
						"price": product.price,
						"article": product.param["Спецификация"]
					});
				}
				return list;
			}
		},
		methods: {
			...mapActions([
				'hideCartRequest',
				'hideCartDetail',
				'showAlert'
			]),
			leaveRequest () {
				const email_regular = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				// Проверка почты
				if (this.email.length === 0) {
					this.showAlert("Необходимо указать email");
					return;
				}
				if (!email_regular.test(this.email)) {
					this.showAlert("Некорректный email");
					return;
				}

				this.$http.post('/send_mail.php', {
					name: this.name.replace(/<(?:.|\n)*?>/gm, ''),
					email: this.email,
					products: this.getCartList,
					comment: this.comment.replace(/<(?:.|\n)*?>/gm, '')
				}).then(response => {
					this.hideCartRequest();
					this.hideCartDetail();
					this.showAlert("Спасибо за обращение! Ваша заявка принята!");
				}, response => {
					this.showAlert("Ошибка отправки email");
				});
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.cart-request {
		&__title {
			font-size: 24px;
			text-align: center;
			padding: $padding;
		}

		&__form {
			padding: $padding;
			text-align: center;
		}

		&__input {
			margin: $padding auto;
		}
	}
</style>