<template>
	<section id="catalog">
		<div class="container">
			<h2>Каталог продукции</h2>
			<div class="catalog">
				<group-bar></group-bar>
				<catalog-list></catalog-list>
				<pagination></pagination>
			</div>
		</div>
	</section>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'
	import Catalog from '~components/Catalog'
	import CatalogList from '~components/CatalogList'
	import GroupBar from '~components/GroupBar'
	import Pagination from '~components/Pagination'

	export default {
		name: 'catalog',
		components: {
			Catalog,
			CatalogList,
			GroupBar,
			Pagination
		},
		data () {
			return {}
		},
		computed: {
			...mapGetters({
				products: 'productsOnPage'
			}),
			...mapState({
				currentPage: state => state.currentPage,
				itemPerPage: state => state.itemPerPage
			})
		},
		methods: {
			...mapActions([
				'changeDetailProduct',
				'showDetailProduct'
			]),
			showProductDetail (id) {
				this.changeDetailProduct({ id: id });
				this.showDetailProduct();
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	#catalog {
		background-color: #f8f8f8;
	}
</style>