<template>
	<div class="catalog__list">
		<div class="catalog__item" v-for="product in products" :key="product.id">
			<product :product="product" @open="showProductDetail"></product>
		</div>
	</div>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'
	import Product from '~components/Product';

	export default {
		name: 'catalog-list',
		components: {
			'product': Product
		},
		data () {
			return {}
		},
		computed: {
			...mapGetters({
				products: 'productsOnPage'
			}),
			...mapState({
				currentPage: state => state.currentPage,
				itemPerPage: state => state.itemPerPage
			})
		},
		methods: {
			...mapActions([
				'changeDetailProduct',
				'showDetailProduct'
			]),
			showProductDetail (product) {
				this.changeDetailProduct(product);
				this.showDetailProduct();
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.catalog {
		&__list {
			display: flex;
			flex-wrap: wrap;
		}

		&__item {
			flex: 1 1 calc(100% / 4);
			max-width: calc(100% / 4);
			display: flex;
			align-items: stretch;

			@include media("<tablet") {
				flex: 1 1 calc(100% / 2);
				max-width: calc(100% / 2);
			}
		}
	}
</style>