<template>
	<div>
		<div class="certificates__list">
			<div class="certificates__item" v-for="certificate in certificates" @click="show(certificate)">
				<img :src="certificate.thumbUrl">
			</div>
		</div>
	</div>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'

	import certificate1Min from '~static/img/certificates/certificate1-min.jpg';
	import certificate1 from '~static/img/certificates/certificate1.jpg';
	import certificate2Min from '~static/img/certificates/certificate2-min.jpg';
	import certificate2 from '~static/img/certificates/certificate2.jpg';
	import certificate3Min from '~static/img/certificates/certificate3-min.jpg';
	import certificate3 from '~static/img/certificates/certificate3.jpg';

	export default {
		name: 'certificates-list',
		components: {},
		data () {
			return {
				certificates: [
					{
						thumbUrl: certificate1Min,
						detailUrl: certificate1
					},
					{
						thumbUrl: certificate2Min,
						detailUrl: certificate2
					},
					{
						thumbUrl: certificate3Min,
						detailUrl: certificate3
					}
				]
			}
		},
		computed: {
			...mapGetters({}),
			...mapState({})
		},
		methods: {
			...mapActions([
				'changeModalImage',
				'showModalImage'
			]),
			show (data) {
				this.changeModalImage({ image: data.detailUrl });
				this.showModalImage();
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.certificates {
		&__list {
			display: flex;
			justify-content: center;
		}

		&__item {
			max-width: 140px;
			padding: 0 20px;

			img {
				border: 1px solid #b0b0b0;
				cursor: pointer;
			}
		}
	}
</style>