<template>
	<div class="counter">
		<div class="counter__decrement" @click="decrement">
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 13H5v-2h14v2z"></path>
			</svg>
		</div>
		<div class="counter__value">{{getValue}}</div>
		<div class="counter__increment" @click="increment">
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
			</svg>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'counter',
		components: {},
		props: {
			value: {
				type: String | Number,
				required: true,
				default: 0
			}
		},
		data () {
			return {
				val: 1
			}
		},
		mounted () {
			if (this.value) {
				this.val = this.value;
			}
		},
		computed: {
			getValue () {
				if (this.val < 1) {
					this.val = 1;
				}
				if (this.val > 0 && this.val < 10) {
					return `0${this.val}`;
				}
				return this.val;
			}
		},
		methods: {
			decrement () {
				this.val--;
				this.$emit('change', this.val);
			},
			increment () {
				this.val++;
				this.$emit('change', this.val);
			}
		},
		watch: {
			value () {
				if (this.value) {
					this.val = this.value;
				}
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.counter {
		display: flex;
		align-items: center;

		&__decrement {
			cursor: pointer;
			padding: $padding;
		}

		&__value {
			font-size: 16px;
			padding: $padding 0;
		}

		&__increment {
			cursor: pointer;
			padding: $padding;
		}
	}
</style>