<template>
	<modal v-if="product.show" @close="close">
		<div class="detail">
			<div class="detail__title">{{title}}</div>
			<div class="detail__content">
				<div class="detail__image">
					<img :src="imageUrl">
				</div>
				<div class="detail__info">
					<ul class="detail__list">
						<li class="detail__list-item" v-for="(value, name) in param">
							<strong>{{name}}</strong>: {{value}}
						</li>
					</ul>
					<div class="detail__price">{{price}}</div>
					<div class="detail__action">
						<ui-button @click="add" v-if="!productInCart">Добавить в корзину</ui-button>
						<ui-button v-else disabled>В корзине</ui-button>
					</div>
				</div>
			</div>
		</div>
	</modal>
</template>
<script>
	import { mapState, mapActions } from 'vuex'
	import Modal from '~components/Modal'
	import Button from '~components/Button'

	export default {
		name: 'detail-product',
		components: {
			Modal,
			'ui-button': Button
		},
		computed: {
			...mapState({
				product: state => state.detailProduct,
				productsInCart: state => state.cart.list
			}),
			title () {
				if (!this.product.content) {
					return false;
				}
				return this.product.content.name;
			},
			param () {
				if (!this.product.content) {
					return false;
				}
				return this.product.content.param;
			},
			imageUrl () {
				if (!this.product.content) {
					return false;
				}
				return this.product.content.image;
			},
			id () {
				if (!this.product.content) {
					return false;
				}
				return this.product.content.id;
			},
			price () {
				if (!this.product) {
					return false;
				}
				if (this.product.content.price > 0) {
					return `${this.product.content.price} руб.`;
				}
			},
			productInCart () {
				return ~Object.keys(this.productsInCart).indexOf(this.product.content.id);
			}
		},
		methods: {
			...mapActions([
				'resetDetailProduct',
				'hideDetailProduct',
				'cartAddProduct'
			]),
			open () {
				this.$emit('open', this.id);
			},
			close () {
				this.resetDetailProduct();
				this.hideDetailProduct();
			},
			add () {
				this.cartAddProduct(this.product.content);
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.detail {
		&__title {
			font-size: 24px;
			padding-left: $padding;
			max-width: 860px;
			flex: 1 1 100%;
		}

		&__image {
			max-width: 500px;
			width: 100%;

			img {
				max-width: 100%;
			}
		}

		&__content {
			display: flex;

			@include media("<tablet") {
				flex-direction: column;
			}
		}

		&__info {
			padding: 0 $padding;
			max-width: 400px;
			width: 100%;
		}

		&__list {
			list-style: none;
		}

		&__list-item {
			border-bottom: 1px solid #f5f5f5;
			padding: $padding 0;

			strong {
				color: $color--blue;
			}
		}

		&__price {
			padding: $padding 0;
			text-align: right;
			font-size: 24px;
			color: $color--blue;
		}

		&__action {
			padding: $padding 0;
			text-align: right;
		}
	}
</style>