<template>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<div class="footer__left">
					<div class="footer-logo">БашКомфортСтрой</div>
					<div class="footer-nav">
						<a class="footer-nav__item" href="#work-stages">Как мы работаем</a>
						<a class="footer-nav__item" href="#catalog">Каталог продукции</a>
						<a class="footer-nav__item" href="#advantages">Почему выбирают нас</a>
					</div>
				</div>
				<div class="footer__center certificates">
					<certificates-list></certificates-list>
				</div>
				<div class="footer__right">
					<a class="footer-info" title="Позвоните нам" href="tel:89659230770">8 (965) 923-07-70</a>
					<a class="footer-info" title="Позвоните нам" href="tel:89659230770">8 (965) 923-07-70</a>
					<a class="footer-info" title="Наша почта" href="mailto:faartur@gmail.com">faartur@gmail.com</a>
					<div class="footer-info">ИНН 123123</div>
					<div class="footer-info">КПП 123123</div>
				</div>
			</div>
		</div>
	</footer>
</template>
<script>
	import CertificatesList from '~components/CertificatesList';

	export default {
		name: 'footer',
		components: {
			'certificates-list': CertificatesList
		},
		data () {
			return {}
		},
		computed: {},
		methods: {}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	#footer {
		background-color: #565656;
	}

	.footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include media("<phone") {
			flex-direction: column;
		}

		&__left {
			padding: 20px $padding;

			@include media("<tablet") {
				order: 1;
			}
		}
		&__center {
			padding: 20px $padding;

			@include media("<tablet") {
				order: 3;
				flex: 1 1 100%;
			}
		}
		&__right {
			padding: 20px $padding;

			@include media("<tablet") {
				order: 2;
			}
		}

		&-logo {
			color: #fff;
			font-size: 24px;
			margin-bottom: 20px;
		}

		&-nav {
			display: flex;
			flex-direction: column;

			&__item {
				color: #ffffff;
				font-size: 18px;
				margin-bottom: $padding;
			}
		}

		&-info {
			font-size: 18px;
			display: block;
			color: #ffffff;
			text-align: right;
			margin: $padding 0;

			@include media("<phone") {
				text-align: left;
			}
		}
	}
</style>