<template>
	<div class="catalog__filter">
		<div v-for="group in groups"
		     class="catalog__group"
		     :class="{'catalog__group--active': group.id === currentGroup}"
		     @click="changeGroup(group)">{{ group.name }}
		</div>
	</div>
</template>
<script>
	import { mapActions, mapState } from 'vuex'

	export default {
		name: 'group-bar',
		data () {
			return {}
		},
		methods: {
			...mapActions([
				'changeGroup'
			])
		},
		computed: {
			...mapState({
				groups: state => state.groups,
				currentGroup: state => state.currentGroup
			})
		},
		mounted () {
			this.changeGroup(this.groups[0]);
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.catalog {
		&__filter {
			display: flex;
			border-radius: 3px;
			padding: 0 $padding $padding;

			@include media("<tablet") {
				flex-direction: column;
			}
		}

		&__group {
			$group-panel-radius: 3px;

			width: 100%;
			padding: $padding;
			color: #ffffff;
			cursor: pointer;
			background-color: $color--blue;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			@include media("<tablet") {
				margin: 1px 0;
			}

			&:first-child {
				border-top-left-radius: $group-panel-radius;
				border-bottom-left-radius: $group-panel-radius;

				@include media("<tablet") {
					border-bottom-left-radius: 0;
					border-top-right-radius: $group-panel-radius;
				}
			}

			&:last-child {
				border-top-right-radius: $group-panel-radius;
				border-bottom-right-radius: $group-panel-radius;

				@include media("<tablet") {
					border-top-right-radius: 0;
					border-bottom-left-radius: $group-panel-radius;
				}
			}

			&--active {
				background-color: $color--orange;
			}
		}
	}
</style>