<template>
	<header id="header">
		<div class="container">
			<div class="header">
				<div class="header__logo">БашКомфортСтрой</div>
				<div class="header__menu">
					<a class="header__menu-item" href="#work-stages">Как мы работаем</a>
					<a class="header__menu-item" href="#catalog">Каталог продукции</a>
					<a class="header__menu-item" href="#advantages">Почему выбирают нас</a>
				</div>
				<a class="header__phone" title="Позвоните нам" href="tel:89659230770">8 (965) 923-07-70</a>
			</div>
		</div>
	</header>
</template>

<script>
	export default {
		name: 'header',
		components: {},
		data () {
			return {}
		},
		computed: {},
		methods: {}
	}
</script>

<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	#header {
		&:after {
			content: '';
			display: block;
			height: 2px;
			background-color: #e3e3e3;
			border-bottom: 1px solid #f5f5f5;
		}
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;

		&__logo {
			padding: $padding;
		}

		&__menu {
			display: flex;

			@include media("<tablet") {
				display: none;
			}

			&-item {
				color: #000000;
				padding: $padding;
			}
		}

		&__phone {
			color: #000000;
			padding: $padding;
			display: block;
		}
	}
</style>