<template>
	<textarea class="input"
	          v-if="type == 'textarea'"
	          :class="classes"
	          :placeholder="placeholder"
	          :value="value"
	          @input="updateValue"></textarea>
	<input class="input"
	       v-else
	       :class="classes"
	       :type="type"
	       :placeholder="placeholder"
	       :value="value"
	       v-mask="mask"
	       @input="updateValue">
</template>
<script>
	export default {
		name: 'input',
		props: {
			value: {
				type: String
			},
			size: {
				type: String,
			},
			type: {
				type: String,
			},
			placeholder: {
				type: String,
			}
		},
		components: {},
		data () {
			return {}
		},
		computed: {
			classes () {
				if (this.size) {
					return `input--${this.size}`;
				}
				return '';
			},
			mask () {
				if (this.type === 'tel') {
					return '8 (###) ###-##-##';
				}
				return '';
			}
		},
		methods: {
			updateValue: function (e) {
				this.$emit('input', e.target.value);
			},
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.input {
		font-family: inherit;
		outline: none;
		display: block;
		touch-action: none;
		user-select: none;
		background-color: #fff;
		border: 2px solid $color--blue;
		padding: 12px 28px;
		font-size: 20px;
		max-width: 100%;
		width: 100%;
		resize: vertical;

		&--large {
			font-size: 30px;

			@include media("<tablet") {
				font-size: 22px;
			}
		}
	}
</style>