<template>
	<section id="leave-request">
		<div class="container">
			<div class="leave-request">
				<div class="pane">
					<h3>Оставить заявку на детскую площадку</h3>
				</div>
				<div class="form">
					<label class="form__input">
						<ui-input size="large" type="email" placeholder="Укажите E-mail" v-model="email"></ui-input>
					</label>
					<ui-button size="large" @click="leaveRequest">Оставить заявку</ui-button>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import { mapActions } from 'vuex'

	import Button from '~components/Button'
	import Input from '~components/Input'

	export default {
		name: 'leave-request',
		components: {
			'ui-button': Button,
			'ui-input': Input
		},
		data () {
			return {
				email: ''
			}
		},
		computed: {},
		methods: {
			...mapActions([
				'showAlert'
			]),
			leaveRequest () {
				const email_regular = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				if (email_regular.test(this.email)) {
					this.$http.post('/send_mail.php', { email: this.email }).then(response => {
						this.showAlert("Спасибо за обращение! Ваша заявка принята!");
					}, response => {
						this.showAlert("Ошибка отправки email");
					});
				} else {
					this.showAlert("Некорректный email");
				}
			}
		}
	}
</script>

<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	#leave-request {
		background: url(~static/img/bg2.jpg) 50% 50%;
		background-size: cover;
	}

	.leave-request {
		position: relative;
		overflow: hidden;
		padding: 10vh 8px;
	}
</style>