<template>
	<transition name="modal">
		<div class="modal">
			<div class="modal__overflow"></div>
			<div class="modal__block">
				<div class="modal-header">
					<div class="modal-close" @click="close">
						<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
							<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
						</svg>
					</div>
				</div>
				<div class="modal-content">
					<slot></slot>
				</div>
			</div>
		</div>
	</transition>
</template>
<script>
	export default {
		name: 'modal',
		computed: {},
		methods: {
			close () {
				this.$emit('close');
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.modal {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 20;
		width: 100%;

		&__overflow {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.25);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}

		&__block {
			z-index: 2;
			background-color: #ffffff;
			padding: $padding;
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.28);
			border-radius: 3px;
			max-height: 90%;
			display: flex;
			flex-direction: column;
		}

		&-header {
			display: flex;
			flex: 0 0 40px;
		}

		&-content {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			padding: 4px 0;
		}

		&-close {
			margin-left: auto;
			cursor: pointer;
			padding: $padding;
			border-radius: 50%;
			color: #ffffff;
			background-color: $color--blue;
			transition: background-color 150ms ease, color 150ms ease;

			svg {
				display: block;
				fill: #ffffff;
			}

			&:hover {
				background-color: $color--orange;
			}
		}
	}

	.modal-enter-active, .modal-leave-active {
		transition: opacity 300ms ease
	}

	.modal-enter, .modal-leave-to {
		opacity: 0
	}
</style>