<template>
	<modal v-if="modalImage.show" @close="close">
		<img class="modal-image" :src="modalImage.image">
	</modal>
</template>
<script>
	import { mapState, mapActions } from 'vuex'
	import Modal from '~components/Modal'

	export default {
		name: 'modal-image',
		components: {
			Modal
		},
		computed: {
			...mapState({
				modalImage: state => state.modalImage,
			})
		},
		methods: {
			...mapActions([
				'hideModalImage'
			]),
			close () {
				this.hideModalImage();
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";
</style>