<template>
	<div class="catalog__pagination">
		<div class="pagination">
			<div v-for="page in links"
			     class="pagination__item"
			     :class="{ 'pagination__item--active': page === currentPage, 'pagination__item--disabled': page === '...' }"
			     @click="changePage(page)">{{ page }}
			</div>
		</div>
	</div>
</template>
<script>
	import { mapActions, mapState, mapGetters } from 'vuex'

	export default {
		name: 'pagination',
		props: {
			limit: {
				type: Number,
				default: 2,
				coerce: function (limit) {
					return limit - 1;
				}
			}
		},
		computed: {
			...mapState({
				currentPage: state => state.currentPage,
				itemPerPage: state => state.itemPerPage,
				products: state => state.products
			}),
			pageList () {
				return Math.ceil(this.products.length / this.itemPerPage);
			},
			pages: function () {
				let pages = [];

				for (let i = 1; i <= this.pageList; i++) {
					pages.push(i);
				}

				return pages;
			},
			links: function () {
				let first = [1, '...'];
				let last = ['...', this.pageList];
				let range = [];

				if (this.currentPage <= this.limit) {
					range = this.range(1, this.limit + 1);

					if ((this.currentPage + range.length) > this.pageList) {
						return range;
					} else {
						return range.concat(last);
					}
				} else if (this.currentPage > (this.pageList - this.limit)) {
					range = this.range(this.pageList - (this.limit), this.pageList);

					if ((this.currentPage - range.length) < 1) {
						return range;
					} else {
						return first.concat(range);
					}
				} else {
					let limit = Math.ceil(this.limit / 2);
					range = this.range(this.currentPage - limit, this.currentPage + limit);

					return first.concat(range).concat(last);
				}
			},
		},
		methods: {
			...mapActions([
				'changePage'
			]),
			range: function (start, end) {
				let pages = [];

				for (let i = start - 1; i < end; i++) {
					if (this.pages[i]) {
						pages.push(this.pages[i]);
					}
				}

				return pages;
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.catalog__pagination {
		display: flex;
		justify-content: center;
		padding-bottom: $padding;
	}

	.pagination {
		display: flex;
		padding: $padding;

		&__item {
			padding: $padding;
			margin: 0 $padding;
			border-radius: 50%;
			height: 32px;
			width: 32px;
			text-align: center;
			cursor: pointer;
			background-color: #ffffff;
			transition: background-color 150ms ease, color 150ms ease;

			&:hover {
				color: #ffffff;
				background-color: $color--blue;
			}

			&--active {
				color: #ffffff;
				background-color: $color--orange;
			}

			&--disabled {
				cursor: default;
				background-color: transparent;
				margin: 0;

				&:hover {
					color: #000000;
					background-color: transparent;
				}
			}
		}
	}
</style>