<template>
	<div class="catalog-item">
		<div class="catalog-item__thumb" @click="open">
			<img src="" :src="imageUrl" :alt="name">
		</div>
		<div class="catalog-item__name">{{ name }}</div>
		<div class="catalog-item__price" v-if="price">{{ price }}</div>
		<div class="catalog-item__price" v-else>Цена по запросу</div>
		<div class="catalog-item__action">
			<ui-button @click="add" v-if="!productInCart">Добавить в корзину</ui-button>
			<ui-button v-else disabled>В корзине</ui-button>
		</div>
	</div>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'
	import Button from '~components/Button'

	export default {
		name: 'product',
		props: ['product'],
		components: {
			'ui-button': Button
		},
		computed: {
			...mapState({
				productsInCart: state => state.cart.list,
			}),
			name () {
				if (!this.product) {
					return false;
				}
				return this.product.name;
			},
			price () {
				if (!this.product) {
					return false;
				}
				if (this.product.price > 0) {
					return `${this.product.price} руб.`;
				}
			},
			imageUrl () {
				if (!this.product) {
					return false;
				}
				return this.product.image;
			},
			id () {
				if (!this.product) {
					return false;
				}
				return this.product.id;
			},
			productInCart () {
				return ~Object.keys(this.productsInCart).indexOf(this.product.id);
			}
		},
		methods: {
			...mapActions([
				'cartAddProduct'
			]),
			open () {
				this.$emit('open', this.product);
			},
			add () {
				this.cartAddProduct(this.product);
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.catalog-item {
		width: 100%;
		padding: $padding;
		margin: $padding;
		text-align: center;
		transition: box-shadow 150ms linear;
		background-color: #ffffff;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);

		&:hover {
			box-shadow: 0 3px 9px rgba(0, 0, 0, .28);
		}

		&__thumb {
			width: 80%;
			margin: 0 auto;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				padding-bottom: 100%;
			}

			img {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				max-height: 100%;
				max-width: 100%;
				margin: 0 auto;
			}
		}

		&__name {
			padding: $padding 0;
		}

		&__price {
			padding: $padding 0;
		}

		&__action {
			.button {
				svg, span {
					vertical-align: middle;
				}
			}
		}

		&__title {
			font-size: 14px;
		}
	}
</style>