<template>
	<section id="slider">
		<div class="container">
			<div class="slider">
				<div class="slider__item" v-for="certificate in certificates" @click="show(certificate)">
					<img :src="certificate.thumbUrl">
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	import { mapGetters, mapState, mapActions } from 'vuex'

	import certificate1Min from '~static/img/certificates/certificate1-min.jpg';
	import certificate1 from '~static/img/certificates/certificate1.jpg';
	import certificate2Min from '~static/img/certificates/certificate2-min.jpg';
	import certificate2 from '~static/img/certificates/certificate2.jpg';
	import certificate3Min from '~static/img/certificates/certificate3-min.jpg';
	import certificate3 from '~static/img/certificates/certificate3.jpg';

	export default {
		name: 'slider',
		components: {},
		data () {
			return {
				certificates: [
					{
						thumbUrl: certificate1Min,
						detailUrl: certificate1
					},
					{
						thumbUrl: certificate2Min,
						detailUrl: certificate2
					},
					{
						thumbUrl: certificate3Min,
						detailUrl: certificate3
					}
				]
			}
		},
		computed: {
			...mapGetters({}),
			...mapState({})
		},
		methods: {
			...mapActions([
				'changeModalImage',
				'showModalImage'
			]),
			show (data) {
				this.changeModalImage({ image: data.detailUrl });
				this.showModalImage();
			}
		}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.slider {
		display: flex;
		justify-content: center;

		&__item {
			flex: 1 1 30%;
			padding: 0 20px;

			img {
				border: 1px solid #b0b0b0;
				cursor: pointer;
			}
		}
	}
</style>