<template>
	<section id="work-stages">
		<div class="container">
			<h2>Как мы работаем</h2>
			<div class="work-stages">
				<div class="work-stages__item work-stage" v-for="(stage, index) in workStages">
					<div class="work-stage__icon">
						<span>{{index + 1}}</span>
					</div>
					<div class="work-stage__title">{{stage}}</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		name: 'work-stages',
		components: {},
		data () {
			return {
				workStages: [
					'Обработка заявки',
					'Доставляем продукцию к будущей площадке',
					'Устанавливаем площадку',
					'Сдача объекта'
				]
			}
		},
		computed: {},
		methods: {}
	}
</script>
<style lang="scss">
	@import "~assets/include-media";
	@import "~assets/theme";

	.work-stages {
		display: flex;
		justify-content: space-around;
		margin-bottom: 40px;

		@include media("<tablet") {
			flex-direction: column;
		}

		&__item {
			padding: $padding;
			flex: 1;
		}
	}

	.work-stage {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media("<tablet") {
			flex-direction: row;
		}

		&__icon {
			text-align: center;
			padding: 20px;
			background-color: $color--blue;
			border-radius: 50%;

			@include media("<tablet") {
				padding: 10px;
			}

			span {
				font-size: 36px;
				line-height: 1;
				width: 36px;
				height: 36px;
				color: #ffffff;
				display: block;
			}
		}

		&__title {
			font-size: 24px;
			margin: 10px 0;
			text-align: center;

			@include media("<tablet") {
				text-align: left;
				margin-left: 10px;
			}
		}
	}
</style>