<template>
	<div>
		<!-- Шапка -->
		<app-header></app-header>

		<!-- Баннер -->
		<banner></banner>

		<!-- Как мы работаем -->
		<work-stages></work-stages>

		<!-- Слайдер -->
		<!--<slider></slider>-->

		<!-- Каталог -->
		<catalog></catalog>

		<!-- Почему выбирают нас -->
		<advantages></advantages>

		<!-- Оставить заявку -->
		<leave-request></leave-request>

		<!-- Подвал -->
		<app-footer></app-footer>

		<cart></cart>

		<cart-detail></cart-detail>

		<detail-product></detail-product>

		<modal-image></modal-image>

		<cart-request></cart-request>

		<alert></alert>
	</div>
</template>

<script>
	import Catalog from '~components/Catalog'
	import Header from '~components/Header'
	import Banner from '~components/Banner'
	import WorkStages from '~components/WorkStages'
	import Advantages from '~components/Advantages'
	import LeaveRequest from '~components/LeaveRequest'
	import Footer from '~components/Footer'
	import DetailProduct from '~components/DetailProduct'
	import ModalImage from '~components/ModalImage'
	import Alert from '~components/Alert'
	import Cart from '~components/Cart'
	import CartDetail from '~components/CartDetail'
	import CartRequest from '~components/CartRequest'
	import Slider from '~components/Slider'

	export default {
		components: {
			Catalog,
			'app-header': Header,
			Banner,
			WorkStages,
			Advantages,
			LeaveRequest,
			'app-footer': Footer,
			DetailProduct,
			ModalImage,
			Alert,
			Cart,
			CartDetail,
			CartRequest,
			Slider
		}
	}
</script>

<style lang="scss">
	@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');
	@import "~assets/include-media";
	@import "~assets/theme";

	html {
		font-family: 'PT Sans', sans-serif;
	}

	img {
		max-width: 100%;
		vertical-align: middle;
		user-select: none;
	}

	h2 {
		text-align: center;
		font-size: 36px;
		margin: 60px $padding 30px;

		&:after {
			content: "";
			display: block;
			width: 160px;
			height: 4px;
			background-color: $color--blue;
			margin: 20px auto 0;
		}
	}

	h3 {
		text-align: center;
		font-size: 36px;
	}

	a {
		text-decoration: none;
		transition: color 150ms ease;

		&:hover {
			color: $color--blue;
		}
	}

	/*
	 * Вспомогательные классы
	 */

	.container {
		max-width: $app--width;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	.pane {
		background-color: rgba(25, 87, 153, .4);
		padding: 20px;
		border-radius: 15px;
		color: #ffffff;
	}

	.form {
		display: flex;
		justify-content: space-around;
		max-width: 1000px;
		margin: 5vh auto;

		@include media("<=tablet") {
			flex-direction: column;
			align-items: center;
		}

		&__input {
			max-width: 100%;

			@include media("<=tablet") {
				margin-bottom: 16px;
			}
		}
	}
</style>
